[Desktop Entry]
Name=QR Alchemy
Comment=Provides the ability do manage, run, save and generate QR codes
Encoding=UTF-8
Exec=%BINDIR%/qralchemy %u
Icon=qralchemy
Type=Application
Categories=X-Wine;
MimeType=x-scheme-handler/wifi;
X-Purism-FormFactor=Workstation;Mobile;

