[Desktop Entry]
Name=QR Alchemy
Comment=Provides the ability do manage, run, save and generate QR codes
Encoding=UTF-8
Exec=%STANDALONEDIR%/%BUILD_STANDALONE%/qralchemy.sh
Icon=%STANDALONEDIR%/%BUILD_PIXMAP%/qralchemy.png
Type=Application
Categories=Utilities;
X-Purism-FormFactor=Workstation;Mobile;
MimeType=x-scheme-handler/wifi;
